.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.form-data{
  padding: 4rem;
  height: auto;
  border-radius: 10px;
  background-color: rgb(244 247 247);
}
.form-fields{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-button{
  width: 100%;
  margin: 10px auto;
  padding: 0.5rem;
  border-radius: 5px;
}
.example-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100px;
}
