.welcome-bar{
  background-color: rgb(240, 240, 240);
  width: 100%;
  font-weight: 500;
  font-size: large;
  color: gray;
  text-align: center;
  padding: 20px;
}
.username{
  color: teal;
}
.user-card{
  border-radius: 10px;
  background-color: rgb(240, 240, 255);
  width: 50%;
  padding: 20px;
  height: 250px;
}
.detail{
  display: flex;
  height: 32px;
  text-align: center;
  margin-bottom: 10px;
  border: 0.25px dotted gray;
  border-radius: 10px;
}
.title{
  background-color: gray;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}
.value{
  width: 120px;
  padding: 10px;
  text-align: center;
  color: teal;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.table-data{
  margin-top: 24px;
  border-radius: 10px;
}
